.listItem{
  margin-top: 20px;
  font-size: 20px;
  font-family: cursive;
  list-style: none;
  color: #6a54a5;
}

.deleteButton{
  font-size: 10px;
  margin-top: 10px;
  margin-left: 36px !important;

}

.listContainer{
  margin-left: 10%;
}