.react-pdf__Document{
  width: fit-content !important;
}

.highlight{
	z-index: 200;
  width: 613px;
  height: 786px;
  background: red;
  position: absolute;
  color: green;
  top: 0;
}

.highlightZone{
  width:612px;
  height: 792px;
  background: green;
  opacity:.5;
  position: absolute;
  z-index: 11;
}

.pdfViewerContainer{
  height: 200px;
  width: 100%;
  position: absolute;
  z-index: 10;
  overflow: auto;
}

.finalHighlight{
  position: absolute;
  z-index: 200;
  color:red;
}
canvas{
}