

.highlight{
	z-index: 200;
  width: 613px;
  height: 786px;
  background: blue;
  position: absolute;
  top: 0;
}

.highlightZone{
  width:612px;
  height: 792px;
  position: absolute;
  z-index: 11;
}



.finalHighlight{
  position: absolute;
  z-index: 200;
}
.highlightNote{
  width: 100%;
}

.sidePdfNotes{
  margin-top: 32px;
}

.pdfViewer .react-pdf__Document {
  margin: auto;
}


@media only screen and (max-width: 767px) {
  .sidePdfNotes{
    background: #f6f0ff;
    border-bottom: 2px solid purple;
    margin-bottom: 20px;
  }

}
