
.WordScramble .letterBox{
  height: 40px;
  width: 40px;
  display: inline;
  padding: 18px;
  margin: 15px;
  border-radius: 5px;
  background-color: #ebdcf5b8;
  font-weight: bold;
}

.WordScramble .scrambledWordContainer{
  margin-top: 30px;
  margin-bottom: 30px;
}

.WordScramble .foundLetter{
  background: #610a9ab8;
  color: white;
}


.WordScramble .skipButton{
  font-size: 11px;
  padding: 5px;
  margin-right: 24px;
}

.WordScramble .score{
  font-size: 20px;
}

.WordScramble .userTextBox{
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-color: purple;

    border-top: none;
    border-left: none;
    border-right: none;
}
.WordScramble .counterContainer{
  font-size: 20px;
}

.WordScramble .correct{
  color: #5e2184;
  font-size: 30px;
  text-shadow: 1px 1px #a99999;
}
.WordScramble .incorrect{
  color: red;
  font-size: 30px;
  text-shadow: 1px 1px #a99999;
}

.WordScramble input:focus{
  outline-color: white;
}

.modal-content{
  margin-top: 30% !important;
  font-size: 20px;

}